@import '../mixins';

.hero {
  @include homeSection(93vh);
}

.heroContent {
  min-height: 45vh;
  width: 100%;
  display: flex;
  // padding-left: var(--vp-lg);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sectionHeader {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    width: 35vw;

  }
}

.blurb {
  @include blurbText(var(--text-md));
  line-height: 150%;
  width: 45vw;
  margin: 0;
  letter-spacing: var(--push-lg);
}

.ctaButton {
  height: 7vh;
  margin-top: var(--vp-ms);
  button {
    height: 100%;
    margin: 0;
  }
  span {
    transform: translateY(2.5%)
  }
  svg {
    margin-left: var(--space-lg);
  }
}

.scrollBtn {
  cursor: pointer;
  position: absolute;
  bottom: 15%;
  right: -14%;
  right: calc((var(--content-width) - 100vw) / 2.5);
  font-family: var(--font-accent);
  letter-spacing: var(--push-2xl);
  font-size: var(--text-md);
  transform: rotate(90deg) scale(.8);
  .arrow {
    margin-left: var(--space-md);
    color: var(--primary);
  }
}