@import "../mixins";

.hero {
  @include homeSection(100vh);
  margin-bottom: var(--vp-xl);
  @media (max-width: 1024px) {
    margin: 0;
    height: unset;
    min-height: 120vh;
  }
}

.heroContent {
  z-index: var(--level-two);
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 1024px) {
    align-items: center;
    justify-content: flex-start;
  }
}

.sectionHeader {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    width: 35vw;
  }
  @media (max-width: 1024px) {
    width: 100%;
    svg {
      margin-top: var(--vp-xl);
      margin-bottom: -2vh;
      width: 100%;
    }
  }
}

.blurb {
  @include blurbText(var(--text-blurb-md));
  line-height: 150%;
  width: 45vw;
  margin: 0;
  margin-top: var(--vp-md);
  letter-spacing: var(--push-lg);
  @media (max-width: 1024px) {
    margin: 0;
    width: 100%;
  }
}

.ctaButton {
  height: 7vh;
  margin-top: var(--vp-ms);
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    height: 100%;
    width: 15vw;
    margin: 0;
    margin-right: var(--vp-md);
  }
  span {
    transform: translateY(2.5%);
  }
  svg {
    margin-left: var(--space-lg);
  }
  @media (max-width: 1024px) {
    margin-top: var(--vp-lg);
    justify-self: flex-start;
    align-self: flex-start;
    flex-direction: column;
    height: 20vh;
    button {
      width: 80vw;
      margin-bottom: var(--space-2xl);
    }
  }
}

.heroImg {
  position: absolute;
  z-index: var(--ground);
  height: 90vh;
  width: auto;
  top: 10vh;
  right: -5vw;
  img {
    height: 100%;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.scrollBtn {
  cursor: pointer;
  position: absolute;
  bottom: 15%;
  right: -14%;
  right: calc((var(--content-width) - 100vw) / 2.5);
  font-family: var(--font-accent);
  letter-spacing: var(--push-2xl);
  font-size: var(--text-md);
  transform: rotate(90deg) scale(0.8);
  .arrow {
    margin-left: var(--space-md);
    color: var(--primary);
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
