.layout {
  position: relative;
  height: auto;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--full-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  main {
    z-index: var(--level-two);
    width: 76vw;
    width: var(--content-width);
  }
}

.layoutBGContainer {
  z-index: var(--ground);
  position: fixed;
  top: -60vh;
  left: -10vw;
  width: 130vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    width: 190vw;
    top: -10vh;
    left: -40vw;
  }
}

.artWindow {
  height: auto;
  width: 100%;
  margin-top: var(--vp-2xl);
  opacity: .7;
  &.pullLeft {
    transform: translateX(-1%)
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
