@import "../mixins";

.topNav {
  position: relative;
  z-index: var(--level-top);
  height: 7vh;
  width: 100vw;
  padding-bottom: var(--vp-xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--full-black);
  border-bottom: 0.5px solid var(--primary-dark);
  isolation: isolate;
  & > * {
    transition: var(--transition-primary);
  }
  @media (max-width: 1024px) {
  }
  position: fixed;
}

.logo {
  margin-left: var(--space-xl);
  transform: translateY(.5vh);
  font-size: var(--text-2xl);
  text-transform: uppercase;
  font-weight: var(--xbold);
  .logoWrap { 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    margin-right: var(--space-lg);
    margin-top: -5px;
    height: 30px;
  }
}

.navLink {
  position: relative;
  text-transform: uppercase;
  letter-spacing: var(--push-md);
  transition: var(--transition-primary);
  &:not(:last-child) {
    margin-right: var(--space-3xl);
  }
  &.active {
    color: var(--primary-vivid);
    &::after {
      transform: scale3d(1, 1, 1);
      background-color: var(--primary-vivid);
    }
  }
  &:hover {
    color: var(--primary);
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
  &::after {
    @include pseudoUnderline(80%);
    transform: scale3d(0, 1, 1);
  }
}

.social {
  height: 8vh;
  width: 12vw;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &:hover {
    background-color: var(--primary-vivid);
  }
  .icon {
    cursor: pointer;
    transform: translateY(0.5vh);
    transition: var(--transition-primary);
    svg {
      height: 2.5vh;
    }
    &:hover {
      transform: translateY(0.5vh) scale(1.05);
    }
  }
}

.mobileBtn {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  span {
    position: relative;
    height: 2px;
    width: var(--vp-ml);
    margin-right: var(--vp-ml);
    background-color: #fff;
    transition: var(--transition-2-smooth);
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: var(--vp-ml);
      margin-right: var(--vp-ml);
      background-color: #fff;
      transition: var(--transition-2-smooth);
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }
  &.close {
    span {
      transform: rotate(180deg);
      background-color: transparent;
      &::before {
        top: -0px;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0px;
        transform: rotate(45deg);
      }
    }
  }
}
