@import '../mixins';

.topNav {
  position: relative;
  z-index: var(--level-top);
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--full-black);
  isolation: isolate;
  & > * {
    transition: var(--transition-primary);
  }
}

.logo {
  font-size: var(--text-2xl);
  text-transform: uppercase;
  font-weight: var(--xbold);
  margin-left: var(--space-xl);
}

.navLink {
  position: relative;
  text-transform: uppercase;
  letter-spacing: var(--push-md);
  transition: var(--transition-primary);
  &:not(:last-child) {
    margin-right: var(--space-3xl);
  }
  &.active {
    color: var(--primary-vivid);
    &::after {
      transform: scale3d(1, 1, 1);
      background-color: var(--primary-vivid);
    }
  }
  &:hover {
    color: var(--primary);
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
  &::after {
    @include pseudoUnderline(80%);
    transform: scale3d(0, 1, 1);
  }
}

.social { 
  height: 100%;
  width: 12vw;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &:hover {
    background-color: var(--primary-vivid);
  }
  .icon {
    cursor: pointer;
    transition: var(--transition-primary);
    svg {
      height: 2.5vh;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

.mobileBtn {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  span {
    height: 2px;
    width: var(--vp-ml);
    margin-right: var(--vp-ml);
    background-color: #fff;
  }
}
