.maintenanceContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    width: 80%;
  }
  & > * {
    margin-bottom: var(--vp-md);
  }
  svg {
    path {
      fill: var(--grey-40);
    }
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--push-md);
    padding-bottom: var(--space-lg);
    border-bottom: 4px solid var(--primary);
  }
  p {
    letter-spacing: var(--push-md);
    color: var(--grey-40);
    text-transform: uppercase;
  }
}