@import "../mixins";

.container {
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header {
  @include underlinedHeader;
}

.blurb {
  @include blurbText(var(--text-md));
  margin-top: var(--vp-md);
  font-weight: 400;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  span {
    margin-bottom: var(--vp-ms);
  }
  @media (max-width: 1024px) {
    width: 100%;
    margin: var(--vp-lg) 0;
  }
}
