.sectionContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  // background-color: var(--black-fade-10);
  @media (max-width: 1024px) {
    height: auto;
    margin-bottom: var(--intersection-margin);
    h4 {
      align-self: flex-start;
    }
  }
}

.cardContainer {
  width: 100%;
  display: grid;
  gap: var(--space-2xl);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 45vh;
  @media (max-width: 1024px) {
    width: 100vw;
    padding: 0 var(--content-margin-width);
    transform: translateX(calc(-1 * var(--content-margin-width)));
    grid-template-rows: 60vh;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
