@import '../mixins';

.mintInfoContainer {
  @include homeSection(70vh);
  position: relative;
  z-index: var(--level-two);
  width: var(--content-width);
  padding: var(--vp-2xl);
  @media (max-width: 1024px) {
    height: 90vh;
    padding: 0;
  }
}

.header {
  @include underlinedHeader;
  margin-bottom: var(--intrasection-margin);
}

.blurb {
  @include blurbText(var(--text-blurb));
}

.minterContainer {
  z-index: var(--level-two);
  position: relative;
  margin-bottom: var(--vp-2xl);
}

.mintMarquee {
  display: none;
  position: absolute !important;
  top: 0vh;
  left: 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    opacity: 0.15;
    height: 50vh;
    width: 50vh;
    margin: 0 2vw;
    img {
      object-position: top !important;
      height: 100%;
      width: 100%;
      filter: saturate(0);
    }
  }
}